div
  p.col-md-6.col-md-offset-3
    = @article.title
  .col-md-6.col-md-offset-3
    = markdown(@article.body).html_safe
  = render 'comments/comments', comments: @comments
aside.sidebar
  - if article_author?(@article)
    ul
      li
        = link_to 'Edit', edit_user_article_path(current_user, @article)
      li
        = link_to 'Delete', url: user_article_path(current_user, @article), method: :delete, data: { confirm: 'Are you sure?' }
