<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= @user.name %>
        </h3>
      </div>
      <div>
        <img class="media-object img-rounded" src="<%= gravatar_url(@user, { size: 50 }) %>" alt="User Profile Image">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <%= render 'articles/articles', articles: @articles %>
  </div>
</div>