<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 align-middle">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Nippoly', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'navbar-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Create a new team', new_team_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Log in', teams_path, class: 'nav-link' %>>
      </li>
    </ul>
  </div>
</nav>